<link rel="stylesheet" href="css/footer.css">
<div class="wrapper">

</div>
<footer class="page-footer font-small teal">
  <div class="container-fluid r">
    <div class="row">
      <div class=>
          <br>
        <p>Welcome to GA Quotes, here you can share your quotes, read others ,follow others and get followed.
            This is a place to share all your thought!
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© Developers:
    <a href="https://www.instagram.com/gayatri.in/">Gayatri</a> ,
    <a href="https://www.instagram.com/abhaym24/">Abhay</a>
  </div>
</footer>
