<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/nav.css">
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light ">
  <img style="height: 100px; width:110px;" src="https://ci6.googleusercontent.com/proxy/TZY74uKi8g5n5BRqE-xCzQxU3pQMDpPwLDZOEy0BDqGbqsaANXEizEWTxH-ha1KfD7rGoAmFSqevNhtSOt2JUL3dguGIQtpFVVj9uHnso-cWRzhuErLgpdKS6hvY055I6RKKp6LWrFoYFUFiIniD3TQVOD1KzHDt=s0-d-e1-ft#https://www.freelogodesign.org/file/app/client/thumb/4ae750ad-1c35-493b-bfd5-7306caef98ef_200x200.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
&nbsp;
  <div id="navbar" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li style="left:900px;" class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-grip-lines"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sign In!</a>
          <a class="dropdown-item" href="#">New? Sign Up!</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>