    <div class="rect">
        <div class="oneBlock">
            <a href="">Quote Of The Day</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/home">Add Your Quote</a>
        </div>
        <div style="color: white; margin: 10px 0 0 20px;">
            {{message}}
        </div>
    </div>