.pop{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 6px 6px 5px grey;
    text-align: center;
    margin: 20px;
}
a.pop{
    margin-left: 43%;
    border: 2px solid orange;
    background-color: yellow;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 6px 6px 5px black;
    color: black;
    font-weight: 700;
    text-align: center;
}
a.pop:hover{
    text-decoration: none;
    background-color: orange;
    border: 2px solid yellow;
    font-weight: 750;
    color: black;
}