.portfolio{
    padding:6%;
    text-align:center;
}
.heading{
    background: #fff;
    padding: 1%;
    text-align: left;
    box-shadow: 0px 0px 4px 0px #545b62;
}
.heading img{
    width: 10%;
}
.bio-info{
    padding: 5%;
    background:#fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name{
    font-family: 'Charmonman', cursive;
    font-weight:600;
}
.bio-image{
    text-align:center;
}
.bio-image img{
    border-radius:50%;
}
.bio-content{
    text-align:left;
}
.bio-content p{
    font-weight:600;
    font-size:30px;
}
.button{
    vertical-align: middle;
    margin:10px;
    width: 140px;
    height: 35px;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 8px 3px #1d1c1c93;
    color: white;
}
.button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: url('img/featherpng');
}
.button:active{
    transform: translateY(5px);
    box-shadow: 4px 8px 3px #36363693;
}
a.button{
    float: right;
    margin:10px;
    width: 140px;
    height: 35px;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 8px 3px #4e4d4d93;
    color: white;
}
a.button:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}
.form{
    font-size: 27px;
    color: black;
    vertical-align: auto;
    margin: auto;
    border-radius: 14px;
    background-color: rgb(204, 201, 201);
    box-shadow: 4px 8px 3px #4e4d4d93;
    text-align: center;
    padding: 20px;
    width: 70%;
    height: fit-content;
}
input.roundedd{
    border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 2px 5px;
	outline: 0;
    -webkit-appearance: none;
    vertical-align: middle;
    width: 50%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url("https://www.freelogodesign.org/file/app/client/thumb/39a24fb0-472d-40db-8751-dd3fe3bf2eb3_200x200.png?1586833373551"); */
    background-image: url('../img/featherh.png');
}
input.roundedd:focus{
    border-color: #339933;
}
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 2px 5px;
	outline: 0;
    -webkit-appearance: none;
    vertical-align: middle;
}
input.rounded:focus {
	border-color: #339933;
}
.card{
    color: black;
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/68/82/gold-texture-brush-stroke-design-element-vector-7576882.jpg");
    background-size: 750px 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    box-shadow: 2px 2px 3px #666;
    background-color:rgb(185, 185, 224);
    text-align:center;
    padding: 30px;
    border-radius: 5px;
}
.edel{
    background-color: rgb(206, 241, 171);
    border-radius: 5px;
    float:right;
    box-shadow: 2px 2px 3px #666;
    margin: 0 5px 0 5px;
    text-align: right;
    padding: 5px;
}
a.edel{
    color: black;
}
a.edel:hover{
    color: rgb(36, 2, 2);
    text-decoration: none;
}
.quote{
    padding: 10px;
    margin: 17px;
    font-size: 20px;
    font-weight: bold;
}
.search{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sear{text-align: center;}
input.sear{
    width: 50%;
}
.sres{
    text-align: center;
    float: center;
    font-size: 20px;
	padding: 2px;
}
a.sres{ 
    color: black;
    background-color: rgb(204, 201, 201);
    border-radius: 4px;
}
a.sres:hover{
    color: rgb(153, 153, 153);
    border-radius: 4px;
    background-color: rgb(36, 2, 2);
    text-decoration: none;
}
.modal{
    width: 50%;
}
i.hear{
    color: rgb(212, 4, 4);
    font-size: 20px;
}
.heart{
    text-align: left;
}
i.heart{
    color: rgb(212, 4, 4);
    font-size: 20px;
}
i.heart:hover{
    color: rgb(170, 5, 5);
    font-size: 25px;
}