body {
    background-image: url("https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=410&q=80");
    /* background-image: url("https://www.freelogodesign.org/file/app/client/thumb/39a24fb0-472d-40db-8751-dd3fe3bf2eb3_200x200.png?1586833373551"); 
    background-image: url("https://www.freelogodesign.org/file/app/client/thumb/ece79c34-59f0-4ff4-a8ee-571ec05e0c45_200x200.png?1586833655818");*/
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }